[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
sklearn = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
lime = "*"
seaborn = "*"
tensorflow = "*"
scikit-image = "*"
ipywidgets = "*"
shap = "*"
eli5 = "*"

[dev-packages]

[requires]
python_version = "3.8"
